[submodule "third_party/eigen"]
	path = third_party/eigen
	url = git@github.com:PX4/eigen.git
[submodule "third_party/MiniDNN"]
	path = third_party/MiniDNN
	url = git@github.com:yixuan/MiniDNN.git
[submodule "Guided-PIBT/guided-pibt/pybind11"]
	path = Guided-PIBT/guided-pibt/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "CMAES/pybind11"]
	path = CMAES/pybind11
	url = git@github.com:pybind/pybind11.git
